@bodyText: #fff;

@footerText: #fff;

@menuText: #FFAD5E;
@menuTextActive: #005525;

@background2017: #208648;

@row-odd-fill: rgba(35,54,43, 0.67);
@row-even-fill: rgba(76, 92, 82, 0.84);

@row-even-color: #fff;

@navbar-background: #fff;
