@bodyText: #fff;

@footerText: #fff;

@menuText: #FFAD5E;
@menuTextActive: #005525;

@background2016: #35267B;
@background2017: #208648;

@row-odd-fill: rgba(0, 0, 0, 0.30);
@row-even-fill: rgba(56, 56, 56, 0.30);

@row-even-color: #fff;

@navbar-background: #fff;
