@import "Lunchbox.css";
.basic-content-page {
  line-height: 1.2em;
}
.basic-content-page h1,
.basic-content-page h2,
.basic-content-page h3 {
  text-align: center;
  font-size: 1em;
  margin: 0.5em 0 1.5em;
}
.basic-content-page h1 {
  font-size: 1.1em;
}
.basic-content-page h1,
.basic-content-page h2 {
  color: #FFAD5E;
  text-transform: uppercase;
  font-weight: normal;
  text-shadow: 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525, 0 0 4px #005525;
}
.basic-content-page p {
  margin: 0 0 1.5em;
}
.basic-content-page .mainBody ul {
  margin: 0 0 1em;
}
.basic-content-page .mainBody ul li {
  margin: 0 0 0.5em;
}
.lunchBox-bold {
  font-family: LunchBox-Bold;
  font-weight: normal;
  font-style: normal;
}
.lunchBox {
  font-family: LunchBox;
  font-weight: normal;
  font-style: normal;
}
.lunchBox .large {
  font-size: 3em;
}
.lunchBox .extraLarge {
  font-size: 4em;
}
.lunchBox .huge {
  font-size: 4em;
}
.oswald {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 400;
  font-style: normal;
}
.oswald .large {
  font-size: 3em;
}
.oswald .extraLarge {
  font-size: 4em;
}
.oswald .huge {
  font-size: 4em;
}
.oswald-bold {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-style: normal;
}
.oswald-light {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-style: normal;
}
@keyframes float {
  0% {
    -webkit-transform: translateY(10px) rotate(-5deg);
    transform: translateY(10px) rotate(-5deg);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes float2 {
  0% {
    -webkit-transform: translateX(20px) rotate(5deg);
    transform: translateX(20px) rotate(5deg);
  }
  100% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}
@keyframes float3 {
  0% {
    -webkit-transform: translateX(20px) rotate(10deg);
    transform: translateX(20px) rotate(10deg);
  }
  100% {
    -webkit-transform: translateY(-15px) translateX(-30px) rotate(28deg);
    transform: translateY(-15px) translateX(-30px) rotate(28deg);
  }
}
@keyframes zoom {
  0% {
    transform: rotate(-5deg);
    transform-origin: 100% 50%;
  }
  100% {
    transform: rotate(2deg);
    transform-origin: 100% 50%;
  }
}
@keyframes spacejail-skew-1 {
  0% {
    transform: skewX(-13deg) skewY(5deg);
    -webkit-transform: skewX(-13deg) skewY(5deg);
  }
  100% {
    transform: skewX(-22deg);
    -webkit-transform: skewX(-22deg);
  }
}
@keyframes spacejail-skew-2 {
  0% {
    transform: skewX(13deg);
    -webkit-transform: skewX(13deg);
  }
  100% {
    transform: skewX(22deg);
    -webkit-transform: skewX(22deg);
  }
}
@keyframes spacejail-skew-3 {
  0% {
    transform: skewX(3deg) skewY(5deg);
    -webkit-transform: skewX(3deg) skewY(5deg);
  }
  100% {
    transform: skewX(14deg) skewY(-5deg);
    -webkit-transform: skewX(15deg) skewY(-5deg);
  }
}
@keyframes spacejail-rotate-1 {
  0% {
    transform: rotateX(-40deg);
    -webkit-transform: rotateX(-40deg);
  }
  100% {
    transform: rotateX(-10deg);
    -webkit-transform: rotateX(-10deg);
  }
}
@keyframes spacejail-rotate-2 {
  0% {
    transform: rotateX(-30deg);
    -webkit-transform: rotateX(-30deg);
  }
  100% {
    transform: rotateX(-5deg);
    -webkit-transform: rotateX(-5deg);
  }
}
@keyframes spacejail-rotate-4 {
  100% {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
  }
}
body {
  background-color: #208648;
  color: #fff;
  font-size: 24pt;
  line-height: 26pt;
}
.parallax__layer--base {
  max-width: 1500px;
  margin: 0 auto;
}
.basic-content-page {
  background: #208648 url('/images/2017/star-bg.png') 0 0 repeat;
  margin-top: 70px;
  margin-bottom: 40px;
}
.navbar-default {
  background-color: #fff;
  border: none;
  font-size: 0.8em;
}
.navbar-default .navbar-nav,
.navbar-default .navbar-default .navbar-brand {
  color: #FFAD5E;
  font-weight: bold;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-default .navbar-brand > li > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-default .navbar-brand > .active > a {
  color: #FFAD5E;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-default .navbar-brand > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-default .navbar-brand > .active > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-default .navbar-brand > li > a:active,
.navbar-default .navbar-nav > .active > a:active,
.navbar-default .navbar-default .navbar-brand > .active > a:active,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-default .navbar-brand > li > a:focus,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-default .navbar-brand > .active > a:focus {
  color: #005525;
}
@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.container-fluid {
  padding: 0;
}
.masthead {
  width: 91.5%;
  margin-top: 145px;
  margin-bottom: 150px;
}
.buytickets {
  width: 157%;
  margin-top: 193px;
  margin-left: -90px;
}
.hilite {
  color: #FFAD5E;
}
.hilite.email {
  text-decoration: underline;
}
a.hilite:hover {
  color: #FFAD5E;
}
.titleImageContainer {
  height: 130px;
  width: 775px;
  padding-top: 35px;
  margin: 0 auto 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  background: url(/images/2017/lances.svg) no-repeat 50% top;
  color: white;
}
.titleImage {
  height: 60px;
  width: auto;
  display: block;
  margin: 0 auto;
}
#footer {
  text-align: center;
}
.speaker-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.2em;
  max-width: 760px;
  margin: 0 auto 200px;
}
.speaker-row .speaker-box {
  text-align: center;
  width: 140px;
  margin: 30px 15px;
}
.speaker-row .speaker-box img {
  width: 140px;
  height: auto;
  margin: 0 0 15px;
  display: block;
}
.about-title {
  position: relative;
}
.about-title .peggy {
  width: 46%;
  height: auto;
  position: absolute;
  top: -120%;
  left: 2%;
}
.about-title .fuobe1 {
  width: 10%;
  height: auto;
  position: absolute;
  top: -100%;
  right: 20%;
}
.about-text-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  max-width: 760px;
  margin: 0 auto;
  clear: both;
  font-size: 21px;
  line-height: 1.2em;
  justify-content: space-around;
}
.about-text-container .about-text-column {
  width: 50%;
  padding: 0 15px;
  z-index: 99;
}
.about-text-container .about-text-column p {
  margin: 0 0 1.5em;
}
.sponsors-title {
  margin-top: 100px;
}
.about-text {
  font-size: 21px;
  line-height: 1.2em;
}
.about-text p {
  margin: 0 0 1.5em;
}
.tickets-title {
  margin: 200px 0 25px;
  position: relative;
}
.tickets-title .fuobe2 {
  position: absolute;
  width: 15%;
  top: 45%;
  right: 15%;
}
.sponsor-row {
  clear: both;
}
.sponsor-row .cm-sponsor-box {
  height: 120px;
  text-align: center;
}
.sponsor-row .cm-sponsor-box img {
  display: inline-block;
  vertical-align: middle;
}
.sponsor-row .cm-sponsor-box:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.tickets-box table {
  width: 100%;
  font-size: 18pt;
}
.tickets-box table thead tr td {
  padding-bottom: 15px;
}
.tickets-box table thead tr td.venue-column {
  width: 60%;
}
.tickets-box table td {
  width: 20%;
  padding: 10px;
}
.tickets-box table p {
  margin: 0;
  line-height: 20pt;
}
.tickets-box table .ticket-row-odd td {
  background: rgba(35, 54, 43, 0.67);
  cursor: pointer;
}
.tickets-box table .ticket-row-even td {
  color: #fff;
  background: rgba(76, 92, 82, 0.84);
  cursor: pointer;
}
.tickets-box p.legend {
  text-align: right;
  font-size: 13pt;
}
.speaker-image-container {
  height: 205px;
  margin-bottom: -60px;
}
.footer-row {
  margin-top: 150px;
}
.two {
  animation-duration: 20s;
  animation-name: spacejail-rotate-2;
}
.three {
  animation-duration: 7s;
}
.speaker-link {
  cursor: hand;
}
.speaker-link-pg {
  cursor: hand;
}
.byline {
  font-size: 0.7em;
  line-height: 1.3em;
  text-transform: none;
  margin-top: -10px;
  font-weight: light;
}
.luchanaut {
  -webkit-animation: float2 5s ease-in-out infinite alternate;
  animation: float2 5s ease-in-out infinite alternate;
  position: absolute;
  left: 250px;
  top: 350px;
}
.luchanaut2 {
  -webkit-animation: float3 14s ease-in-out infinite alternate;
  animation: float3 14s ease-in-out infinite alternate;
  position: absolute;
  right: 200px;
  top: 310px;
}
.luchanaut3 {
  -webkit-animation: float 6s ease-in-out infinite alternate;
  animation: float 6s ease-in-out infinite alternate;
  width: 90%;
  margin-left: -30px;
}
.luchanaut3shuttle {
  -webkit-animation: zoom 4s ease-in-out infinite alternate;
  animation: zoom 4s ease-in-out infinite alternate;
}
body,
#mainBody {
  transform: translateZ(0);
}
.parallax {
  perspective: 300px;
  height: 100vh;
  overflow-x: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  height: 100%;
}
.parallax__layer--deep {
  -webkit-transform: translateZ(-400px) scale(2);
  transform: translateZ(-400px) scale(2);
  height: 100%;
}
.parallax__layer--objects {
  -webkit-transform: translateZ(-300px) scale(1.5);
  transform: translateZ(-300px) scale(1.5);
  height: 100%;
}
.stars {
  background: transparent url("/images/2017/star-bg.png") repeat;
  background-size: 80%;
  height: 2300px;
  opacity: 0.5;
}
.stars-deep {
  background: transparent url("/images/2017/star-bg.png") repeat;
  background-size: 70%;
  height: 1600px;
  opacity: 0.5;
}
.clouds1 {
  position: absolute;
  top: 185px;
  height: auto;
  margin: auto -30%;
}
.clouds2 {
  position: absolute;
  top: 800px;
  height: auto;
  margin: auto -10%;
}
.sils1 {
  position: absolute;
  top: 100px;
  width: 100%;
}
.sils2 {
  position: absolute;
  top: 1800px;
  width: 85%;
}
.castle-container {
  position: absolute;
  top: 1560px;
  width: 100%;
}
.castle-container .castle {
  width: 100%;
}
.castle-container .castle-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.moon {
  position: absolute;
  top: 1500px;
  width: 25%;
  right: 20%;
}
.clouds3 {
  position: absolute;
  top: 1600px;
  left: -30%;
  width: 80%;
}
.clouds4 {
  position: absolute;
  top: 2300px;
  left: -20%;
  width: 95%;
}
@media (max-width: 768px) {
  body {
    font-size: 14pt;
    line-height: 15pt;
  }
  .titleImageContainer {
    height: 60px;
    width: 375px;
    padding-top: 15px;
    margin-bottom: 30px;
    font-size: 12pt;
  }
  .tickets-box p {
    margin-left: 10px;
  }
  .tickets-box table {
    margin: 0 auto;
    width: 95%;
    cursor: pointer;
  }
  .tickets-box table td {
    font-size: 13pt;
    line-height: 14pt;
  }
  .masthead {
    margin: 60px auto 0 10px;
    width: 100%;
    display: block;
  }
  .titleImage {
    height: 30px;
  }
  .about-text-container {
    display: block;
  }
  .about-text-container .about-text-column {
    width: 100%;
  }
  .buytickets {
    margin: -50px auto 0 auto;
    width: 100%;
    display: block;
  }
  .space-object {
    max-width: 20%;
  }
  .skull {
    margin-top: 1700px;
    margin-left: -25px;
  }
  .shuttle4,
  .shuttle1 {
    margin-top: 10px;
  }
  .sponsor-row .cm-sponsor-box {
    height: 105px;
  }
  .sponsor-row .cm-sponsor-box img {
    height: auto;
    width: 200px;
  }
  .speaker-row {
    font-size: 14pt;
  }
  .stars,
  .stars-deep {
    background-size: 200%;
  }
}
@media (min-width: 768px) {
  .luchanaut {
    width: 150px;
  }
  .luchanaut2 {
    width: 200px;
  }
  .stars,
  .stars-deep {
    background-size: 150%;
  }
}
@media (min-width: 992px) {
  .luchanaut {
    width: 300px;
  }
  .luchanaut2 {
    width: 250px;
  }
}
@media (min-width: 1200px) {
  .stars,
  .stars-deep {
    background-size: 90%;
  }
}
.centerStage {
  margin: 0 20%;
}
.breathingSpace {
  margin-top: 45px;
}
.blurb-speaker-image {
  float: right;
}
table.agenda-table {
  width: 100%;
}
table.agenda-table td {
  text-align: center;
  padding: 5px;
}
table.agenda-table tbody td {
  border: dotted 1px white;
}
table.agenda-table tbody td h3 {
  color: #FFAD5E;
}
table.agenda-table tbody td a {
  color: #fff;
  text-decoration: none;
}
table.agenda-table tbody td a:hover {
  color: #FFAD5E;
}
table.agenda-table tbody td p {
  margin: 2px;
}
table.agenda-table tbody td p.speaker {
  text-transform: uppercase;
  font-size: 18pt;
}
#conversations a {
  color: #FFAD5E;
  text-decoration: none;
}
#conversations a:hover {
  color: #fff;
}
@media screen and (max-width: 48em) {
  #menu a {
    padding: 0;
  }
  #menu ul {
    margin: 0 0 0 50px;
    width: auto;
  }
  img {
    width: 90%;
  }
  iframe {
    max-width: 100% !important;
    width: auto !important;
    height: auto !important;
  }
  .lunchBox .large {
    font-size: 1.5em;
  }
  .lunchBox .extraLarge {
    font-size: 2em;
  }
  .lunchBox .huge {
    font-size: 2.5em;
  }
  .asteroid {
    visibility: hidden;
  }
}
@media (max-width: 768px) {
  table.agenda-table tbody td p {
    margin: 2px;
  }
  table.agenda-table tbody td p.speaker {
    font-size: 12pt;
  }
  table.agenda-table tbody td p.topic {
    font-size: 12px;
  }
  .blurb-speaker-image {
    width: 140px;
    margin-left: 10px;
  }
}
