---
layout: default
years: [2012, 2013, 2014, 2015, 2016]
---

<div class="centerStage">

	<div class="row">
		{% for year in page.years %}
		<div class="col-xs-3">
			<a href="/{{year}}/index.html" {% if page.year == year %} class="selected" {% endif %}>
				<h1 class="center lunchBox huge">{{year}}</h1>
			</a>
		</div>
		{% endfor %}
	</div>

	<div class="row">
		{% for speaker in page.speakers %}
		<div class="col-xs-6 col-lg-4">
			<a href="/{{ page.year }}/{{ speaker.twitter }}.html">
				<h1 class="center lunchBox large">{{ speaker.name }}</h1>
			</a>
		</div>
		{% endfor %}
	</div>
</div>