---
layout: default
years: [2012, 2013, 2014, 2015, 2016]
---

<div class="centerStage">

	<div class="row">
		{% for year in page.years %}
		<div class="col-xs-3">
			<a href="/{{year}}/index.html">
				<h1 class="center lunchBox extraLarge">{{year}}</h1>
			</a>
		</div>
		{% endfor %}
	</div>

	<div class="row">
		<div class="col-xs-6 col-sm-4">
			<img alt="{{ page.speakerName }}" src="/images/speakers/{{ page.speakerImage }}" width="180px" />
		</div>
		<div class="col-xs-12 col-sm-8">
			<h1>{{ page.speakerName }}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<p>{{ page.speakerBio }}</p>
		</div>
	</div>
	{% for talk in page.talks %}
	<div class="row">
		<div class="col-xs-12 breathingSpace">
			<h3>{{ talk.title }}</h3>
			<p>{{ talk.abstract }}</p>
			<iframe width="560" height="315" src="{{talk.link}}" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col-xs-12 breathingSpace"></div>
	</div>
	{% endfor %}
</div>
